.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    

}

.movie{
    
    padding: 0 1rem;
    box-shadow: 6px 6px 6px #394867;
    background-color: #F1F6F9;
}

img{
    width: 100%;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
}